* {
    box-sizing: border-box;
  }
  body {
 
    font-size: 18px;
    line-height: 27px;
    font-family: font-family: Bowlby One SC, cursive;
    background-color: yellow;
  }

  .name{
      background-color: purple;
  }


















  @media screen and (max-width: 980px) {
  
    body {
      background-color: yellow;
      
      }
  }
    
      @media screen and (max-width: 768px) {
  
        body {
          background-color:yellow;
        }
      }
  
        @media screen and (max-width: 640px) {
          header{
            margin: auto;
            
          }
          body {
           background-color: yellow;
          }
          h1 {
            text-align: center;
          }
          div {
            text-align: center;
  
          }
          a {
            margin-right: 20px;
            padding-left: 20px;
          }

