* {
    box-sizing: border-box;
  }
  
  body {
   
    font-size: 18px;
    line-height: 27px;
    font-family: font-family: Bowlby One SC, cursive;
    background-color: #ccc;
  }
   
  header {
    font-size: xx-large;
   
    width: 100%;
    padding: 20px;
  }
  
  .name {
    background-color: green;
    
  }
  img {
      margin: auto;
    
  }
  
  a {
    margin-left: 20px;
    margin-right: 20px
    padding-left :20px
    padding-right : 20px
  
  
  
  @media screen and (max-width: 980px) {
    
    body {
      background-color: white;
      
      }
  }
    
      @media screen and (max-width: 768px) {
  
        body {
          background-color:white;
        }
      }
  
        @media screen and (max-width: 640px) {
          header{
            margin: auto;
            
          }
          body {
           background-color: white;
          }
          h1 {
            text-align: center;
          }
          div {
            text-align: center;
          }
         
        }
            
        
  
          